# Django LMS Final Project - Environment Variables
# Salin file ini jadi .env lalu sesuaikan nilainya

# Django
DEBUG=True
SECRET_KEY=django-insecure-ganti-ini-di-production
ALLOWED_HOSTS=localhost,127.0.0.1

# PostgreSQL
POSTGRES_DB=lms_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DATABASE_URL=postgres://postgres:postgres@database:5432/lms_db

# Redis
REDIS_URL=redis://redis:6379/0

# MongoDB
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=password123
MONGO_URI=mongodb://admin:password123@mongodb:27017/lms_analytics?authSource=admin

# RabbitMQ
RABBITMQ_DEFAULT_USER=admin
RABBITMQ_DEFAULT_PASS=password123

# Celery
CELERY_BROKER_URL=amqp://admin:password123@rabbitmq:5672//
CELERY_RESULT_BACKEND=redis://redis:6379/2
